<div class="page">

    <div class="row ui-section">
         <div class="col-md-12">

            <section class="panel panel-default">
                <div class="panel-heading"><h4>Certificações</h4></div>
                <div class="panel-body padding-xl">
                    <div class="row ui-wizard-content">
                        <div class="col-md-8 col-md-offset-2">


                             <button class="btn btn-info btn-sm" type="button" ng-click="adicionarCertificacao()">+</button>
                             <button class="btn btn-danger btn-sm" type="button" ng-click="removerCertificacao($event)" ng-if="listaCertificacao.length > 1">x</button> 
                             <div ng-repeat='certificacao in listaCertificacao'>
                             <hr>
                             {{certificacao.certificacaoIndex}}º
                             <br>
                             <br>
                             <md-input-container flex>
                             <label>Título do certificado*</label>
                             <input ng-model="certificacao.titulo">
                             </md-input-container>
                             <br>
                             <md-input-container flex>
                             <label>Órgão emissor*</label>
                             <input ng-model="certificacao.orgaoEmissor">
                             </md-input-container>
                             <br>
                             <md-input-container flex>
                             <label>Número da licença*</label>
                             <input ng-model="certificacao.numeroLicenca">
                             </md-input-container>
                                <br>
                                <md-checkbox aria-label="Disabled checkbox" ng-model="certificacao.expiracao"> Este certificado não expira </md-checkbox>
                                <br>
                             

                             <i class="material-icons">date_range</i>
                             <md-input-container flex>
                                 <label>De*</label>
                                 <input ng-model="certificacao.de" mask='12/2017' maxlength="7" mask-limit='7'>
                            </md-input-container>
                          
                           
                                <i class="material-icons">date_range</i>
                                <md-input-container flex>
                                 <label>até*</label>
                                 <input ng-model="certificacao.ate" mask='12/2017' maxlength="7" mask-limit='7'>
                             </md-input-container>
                         
                             <br>
                             <md-input-container flex>
                                 <label>URL do certificado*</label>
                                 <input ng-model="certificacao.url">
                             </md-input-container>
                              
                         </div>
                         {{listaCertificacao}}
                        </div>
                        </div>
                        </div>
                        <div class="text-right margin20"> <md-button class="md-raised btn-w-md md-primary" ng-click="criarCertificacao(certificacao)">Salvar</md-button></div>
                         
                    </section>
                    </div>
    </div>
</div>