
<div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading"><h4>Vaga</h4></div>
                <div class="panel-body padding-xl">
                    <section class="container-fluid with-maxwidth chapter">

    <div class="row ui-section">
        <div class="col-md-12">
         
                    
                <h4>Data de criação</h4>
                <p>{{vaga.dataCriacao | date:'dd/MM/yyyy'}}</p>

                <h4>Quantidade disponível</h4>
                <p>{{vaga.quantidadeDeVaga}}</p>

                <h4>Salário</h4>
                <p>{{vaga.salario}}</p>

                <h4>Escolaridade</h4>
                <p>{{vaga.escolaridade}}</p>

                <h4>Descrição</h4>
                <p>{{vaga.descricao}}</p>

        </div>
    </div>

</section>
                </div>
            </section>     